* {
    margin: 0;
    padding: 0;
}

h1, h2, p , a, th, td {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
}

ul li {
    list-style: none;
}


.btn_primary a {
    color: blueviolet;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 40px;
}

.btn_primary a:hover {
    background-color: rgb(99, 8, 185);
    transition: background-color 0.8s ease;
}

.alerta_ok {
    color: green;
    font-size: 1.3em;
    text-align: center;
    padding-top: 20px;
}

.alerta_error {
    color: red;
    font-size: 1.3em;
    text-align: center;
    padding-top: 20px;    
}