/*Admin Principal*/

.menu_admin {
    background-color: rgb(79, 79, 79);
    padding: 40px 0px;
    box-shadow: 2px 4px 4px rgb(63, 63, 63);
}

.menu_admin ul {
    display: flex;
    justify-content: center;
}

.menu_admin ul li {
    margin: auto 20px;
}

.tabla_productos {
    background-color: #232223;
    padding-bottom: 100px;
}

.tabla_productos h2 {
    text-align: center;
    padding: 30px 0px;
    font-size: 2.9em;
}

.tabla_productos table {
    width: 90%;
    margin: auto;
}

.tabla_productos tbody th {
    font-weight: lighter;
}

.img_tabla {
    width: 100px;
    height: 50px;
}

.img_acciones {
    width: 30px;
    height: 30px;
}

.tabla_acciones {
    margin: 0px 4px;
}

.tabla_productos table th {
    font-size: 1.2em;
    border: 1px solid white;
    padding: 5px;
}

.tabla_productos table td {
    border: 1px solid white;
    text-align: center;
    padding: 10px 0px;
}

/*Agragar Producto*/

.agregar_producto {
    background-color: rgb(79, 79, 79);
    padding-bottom: 30px;
}

.agregar_producto h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 3px;
}

.agregar_producto form {
    width: 30%;
    margin: 20px auto;
    justify-content: center;
    background-color: gray;
    border: 1px solid #232223;
    border-radius: 10px;
    padding: 10px 0px;
}

.agregar_producto form input, .agregar_producto form select {
    background-color: azure;
    height: 40px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 10px 0px;
}

.agregar_producto .nombre_pais,
.agregar_producto .precio_stock {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.agregar_producto .nombre_pais .nombre_form,
.agregar_producto .precio_stock .precio_form {
    width: 50%;
    margin-right: 10px;
}

.agregar_producto .nombre_pais .pais_form,
.agregar_producto .precio_stock .stock_form {
    width: 50%;
    margin-left: 10px;
}

.agregar_producto .nombre_pais .nombre_form input,
.agregar_producto .nombre_pais .pais_form input,
.agregar_producto .precio_stock .stock_form input,
.agregar_producto .precio_stock .precio_form input {
    width: 80%;
}



.agregar_producto .categoria_form {
    width: 90%;
    margin: auto;
}

.agregar_producto .categoria_form select {
    width: 100%;
}

.agregar_producto .descripcion_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.agregar_producto .descripcion_form label,
.agregar_producto .img_form label {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.agregar_producto .descripcion_form textarea {
    background-color: azure;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 1.4em;
    padding-left: 10px;
}

.agregar_producto .img_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    font-size: 0.9em;
}

.agregar_producto .img_form input {
    background-color: gray;
}

.agregar_producto .btn_form {
    width: 90%;
    margin: auto;
}

.agregar_producto .btn_form input {
    width: 100%;
    background-color: rgb(31, 180, 31);
    color: white;
}

.agregar_producto .btn_form input:hover {
    background-color: rgb(77, 115, 219);
}

/*Modificar Producto*/

.modificar_producto .img_form .img_modificar {
    margin: auto;
}

.modificar_producto .img_form .img_modificar img {
    width: 300px;
    border-radius: 10px;
}

/*Modificar Usuario*/

.modificar_producto form .correo {
    width: 90%;
    margin: auto;
}

.modificar_producto form .correo input {
    width: 90%;
}

/*Eliminar Producto*/

.cards_eliminacion {
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
}

.cards_eliminacion h2 {
    padding-bottom: 20px;
    font-size: 1.9em;
}

.cards_eliminacion p {
    margin: 20px;
    font-size: 1.3em;
}

.cards_eliminacion .descripcion {
    background-color: #4F4F4F;
    border-radius: 20px;
    padding: 2px 0px;
    width: 20%;
    margin: auto;
}

.cards_eliminacion img {
    width: 300px;
    margin: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.cards_eliminacion a {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 15px;
}

.cards_eliminacion .btn_cancelar {
    background-color: blueviolet;
}

.cards_eliminacion .btn_cancelar:hover {
    background-color: rgb(99, 8, 185);
    transition: background-color 0.8s ease;
}

.cards_eliminacion .btn_aceptar {
    background-color: rgb(239, 78, 78);
}

.cards_eliminacion .btn_aceptar:hover {
    background-color: rgb(255, 0, 0);
    transition: background-color 0.8s ease;
}

/*Eliminar Usuario*/

.cards_eliminacion .correo_usuario  {
    margin-bottom: 40px;
}

/*Agregar Usuario*/

.usuario_nuevo {
    background-color: #232223;
    padding-bottom: 50px;
}

.usuario_nuevo h2 {
    text-align: center;
    padding: 30px;
    font-size: 2.3em;
    letter-spacing: 5px;
}

.usuario_nuevo form {
    width: 30%;
    margin: auto;
    justify-content: center;
    background-color: gray;
    border: 1px solid #232223;
    border-radius: 10px;
    padding: 10px 0px;
}

.usuario_nuevo form input, .usuario_nuevo .rol_usuario select {
    background-color: azure;
    height: 40px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 10px 0px;
}

.usuario_nuevo .nombres_usuarios {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.usuario_nuevo .nombres_usuarios .nombre_usuario {
    width: 50%;
    margin-right: 10px;
}

.usuario_nuevo .nombres_usuarios .apellido_usuario {
    width: 50%;
    margin-left: 10px;
}

.usuario_nuevo .nombres_usuarios input {
    width: 80%;
}

.usuario_nuevo .correo_usuario,
.usuario_nuevo .claves {
    width: 90%;
    margin: auto;
}

.usuario_nuevo .correo_usuario input, 
.usuario_nuevo .claves input {
    width: 90%;
}

.usuario_nuevo .rol_usuario {
    width: 90%;
    margin: auto;
}

.usuario_nuevo .rol_usuario select {
    width: 100%;
}

.usuario_nuevo .btn_usuario {
    width: 90%;
    margin: auto;
}

.usuario_nuevo .btn_usuario input {
    width: 100%;
    background-color: rgb(31, 180, 31);
    color: white;
}

.usuario_nuevo .btn_usuario input:hover {
    background-color: rgb(77, 115, 219);
}