/*Header*/

header {
    background-color: #650067;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 30px rgb(47, 1, 45);
    position: relative;
}

.menu img {
    width: 30px;
}

.logo {
    width: 400px;
}

.logo figure img {
    width: 100%;
    height: 100px;
}

.menu nav {
    margin-right: 30px;
}

.menu nav ul {
    display: flex;
    align-items: center;
}

.menu nav ul li {
    margin: 20px;
    text-align: center;
    align-items: center;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
}

.menu nav ul li a:hover {
    color: blueviolet;
    transition: color 0.8s ease;
}

.link_usuario {
    display: flex;
}

.link_usuario a {
    margin-left: 10px;
}


/*Index Main*/

.fondo_index {
    background-image: url('/NimusMarket/img/fondo_indes2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.section_1_index {
    display: flex;
    justify-content: space-between;
}

.oferta_index {
    margin: 100px 100px;
    width: 30%;
    height: 320px;
    padding: 40px;
    padding-right: 100px;
    border-radius: 20px;
    box-shadow: 4px 3px 15px black;
    background-color: #8209a7;
}

.oferta_index p {
    font-size: 1.4em;
    margin: 20px auto;
}

.oferta_index h2 {
    font-size: 3.2em;
}

.oferta_index .btn_primary{
    margin-top: 40px;
}

.img_oferta {
    width: 30%;
    margin: 100px auto;
}

.img_oferta img {
    border-radius: 20px;
    width: 100%;
    box-shadow: 4px 3px 15px black;
    height: 600px;
    position: relative;
}

/*Mas Vendidos Index*/

.mas_vendidos {
    background-color: black;
}

.titulo_vendidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 0px;
}

.titulo_vendidos h2 {
    font-size: 3em;
}

.titulo_vendidos .btn_primary a {
    padding: 10px 35px;
}

.card_vendidos {
    width: 85%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.cards_productos {
    margin: 5px;
    flex: 0 0 calc(25% - 10px);
}

.cards_productos img {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.cards_productos p {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px auto;
}

.cards_productos p span {
    font-weight: lighter;
}

.cards_productos .btn_primary {
    text-align: center;
    margin: 30px 0;
}

.cards_productos .btn_primary a{
    padding: 5px 50px;
    background-color: #8858ed;
    color: white;
}

/*Categorias index*/

.categorias {
    background-color: #232223;
    padding-bottom: 50px;
}

.categorias h2 {
    font-size: 3em;
    padding: 50px 100px;
}

.cards_categorias {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.cards_categorias .oro, .plata, .bronce {
    width: 33%;
    margin: 10px;
}

.cards_categorias a img {
    width: 100%;
    height: 550px;
    border-radius: 60px;
}

.cards_categorias  p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.cards_categorias a:hover img {
    opacity: 0.5;
}

/*Footer*/

footer {
    background-color: black;
}

.footer1 {
    display: flex;
    border-bottom: 2px solid white;
}

.imgfooter {
    width: 30%;
    margin: 30px 40px 0px 0px;
}

.imgfooter img {
    width: 100%;
    height: 300px;
}

.menuFooter {
    width: 20%;
    margin: 70px 40px;
}

.menuFooter h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.menuFooter ul li {
    margin: 20px 0;
    font-size: 1.2em;
}

.footer2 {
    display: flex;
    padding: 40px;
    justify-content: space-between
}

.metodosPagos h2, .redesFooter h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.metodosPagos ul, .redesFooter ul {
    display: flex;
}

.metodosPagos ul li, .redesFooter ul li {
    margin: 10px;
}

.redesFooter ul li img {
    width: 20px;
    margin-right: 30px;
}