* {
    margin: 0;
    padding: 0;
}


/*Header*/

header {
    background-color: #910094;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 30px rgb(47, 1, 45);
    position: relative;
}

.menu img {
    width: 30px;
}

.logo {
    width: 400px;
}

.logo figure img {
   width: 100%;
   height: 100px;
}

.menu nav {
    margin-right: 30px;
}

.menu nav ul {
    display: flex;
    align-items: center;
}

.menu nav ul li {
    list-style: none;
    margin: 20px;
    text-align: center;
    align-items: center;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
}

.menu nav ul li a:hover {
    color: blueviolet;
    transition: color 0.8s ease;
}

.link_usuario {
    display: flex;
}

.link_usuario a {
    margin-left: 10px;
}


/*Index Main*/

.fondo_index {
    background-image: url('/primer_parcial/img/fondo_index.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: 600px;
}

.section_1_index {
    display: flex;
    justify-content: space-between;
}

.oferta_index {
    margin: 100px 100px;
    width: 30%;
    height: 320px;
    padding: 40px;
    padding-right: 100px;
    border-radius: 20px;
    box-shadow: 4px 3px 15px black;
    background-color: #8858ed;
}

.oferta_index p {
    font-size: 1.4em;
    margin: 20px auto;
}

.oferta_index h2 {
    font-size: 3.2em;
}

.oferta_index .btn_primary{
    margin-top: 40px;
}

.img_oferta {
    width: 30%;
    margin: 100px auto;
}

.img_oferta img {
    border-radius: 20px;
    width: 100%;
    box-shadow: 4px 3px 15px black;
    height: 600px;
    position: relative;
}

/*Mas Vendidos Index*/

.mas_vendidos {
    background-color: black;
}

.titulo_vendidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 0px;
}

.titulo_vendidos h2 {
    font-size: 3em;
}

.titulo_vendidos .btn_primary a {
    padding: 10px 35px;
}

.card_vendidos {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.cards_productos {
    background-color: red;
    height: 100px;
    margin: 5px;
    flex: 0 0 calc(25% - 10px);
}