/*Pages Productos*/

.pages_productos {
    display: flex;
}

.aside_categoria {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(35,34,35,0.9192051820728291) 88%);
    width: 20%;
    padding: 30px;
}

.aside_categoria h2 {
    margin: 10px;
    text-align: center;
    font-size: 2em;
}

.aside_categoria .lista {
    text-align: center;
}

.aside_categoria .lista ul li {
    margin: 20px auto;
}

.productos {
    background-color: #232223;
    width: 80%;
    position: inherit;
    padding: 50px 0px;
}

.productos_lista {
    background-color: #b1b1b1;
    border-radius: 20px;
    width: 80%;
    margin:  20px auto;
}

.cards_producto_lista {
    display: flex;
}

.cards_producto_lista .titulo_img {
    width: 30%;
    text-align: center;
}

.cards_producto_lista .titulo_img h2 {
    font-size: 1.6em;
    margin: 15px auto;
    color: black;
    font-weight: normal;
}

.cards_producto_lista .titulo_img img {
    width: 100%;
    height: 150px;
    margin: auto 10px;
    border-radius: 15px;
}

.cards_producto_lista .descripcion_cards_producto {
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards_producto_lista .descripcion_cards_producto p {
    font-size: 1.3em;
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
    margin: 20px;
}

.cards_producto_lista .descripcion_cards_producto .categoria_precio_cards {
    display: flex;
    margin: 0px 50px;
    justify-content: space-around;
    width: 100%;
}

.productos_lista .btn_cards_producto {
    text-align: right;
    padding: 0px 60px 30px 50px;
}

.productos_lista .btn_cards_producto a {
    background-color: blueviolet;
    font-size: 1.3em;
    padding: 5px 15px;
    border-radius: 10px;
}

.productos_lista .btn_cards_producto a:hover {
    background-color: #8858ed;
}


/*MonedasIndividual*/

.moneda_individual {
    width: 60%;
    margin: auto;
}

.moneda_individual .datos_monedas h2 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.moneda_individual .datos_monedas .img_moneda {
    width: 50%;
    margin: auto;
}

.moneda_individual .datos_monedas .img_moneda img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px black;
    margin-bottom: 20px;
}

.moneda_individual .datos_monedas .descripcion_moneda {
    width: 70%;
    margin: auto;
}

.moneda_individual .datos_monedas .descripcion_moneda p {
    font-size: 1.3em;
    text-align: justify;
    text-align: center;
}

.moneda_individual .datos_monedas .descripcion_moneda .precio_categoria {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.moneda_individual .datos_monedas .btn_moneda {
    width: 50%;
    margin: auto;
    text-align: center;
}

.moneda_individual .datos_monedas .btn_moneda a {
    background-color: blueviolet;
    margin: 0px 20px;
    padding: 5px 20px;
    border-radius: 10px;
}

.moneda_individual .datos_monedas .btn_moneda a:hover {
    background-color: #8858ed;
}

.moneda_individual .datos_monedas .descripcion_moneda .cantidad  {
    width: 20%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moneda_individual .datos_monedas .descripcion_moneda .cantidad label {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.moneda_individual .datos_monedas .descripcion_moneda .cantidad select {
    font-size: 1.3em;
    width: 50px;
    margin: auto;
}

/*Categorias Inididuales*/

.productos .titulo_categorias {
    text-align: center;
    font-size: 2em;
    box-shadow: 2px 3px 4px white;
    margin-bottom: 10px;
}

/*Login*/

.login {
    background-color: gray;
    padding-bottom: 30px;
    position: relative;
    height: 100%;
}

.login h2 {
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 3px;
    padding: 30px;
}

.login form {
    width: 20%;
    margin: 50px auto;
    background-color: rgba(202, 73, 222, 0.329);
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 50px;
}

.login img {
    width: 120px;
    position: absolute;
    left: 46.5%;
    top: 17%;
}

.login form .usuario,
.login form .clave,
.login form .btn_login {
    background-color: red;
    width: 90%;
    margin: auto;
    margin: 20px;
}

.login form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.login form .btn_login input {
    background-color: rgb(31, 180, 31);
    color: white;
}

.login form .btn_login input:hover {
    background-color: rgb(77, 115, 219);
}

.login form .registrate {
    text-align: center;
    padding-bottom: 15px;
    font-size: 1em;
}

.login form .registrate p {
    margin: 5px;
}

.login form .registrate a {
    color: rgb(31, 180, 31);
    font-weight: bold;
    font-size: 1.2em;
}

/*Carrito Compras*/

.container_carrito {
    background-color: #232223;
    padding: 40px 0px;
}


.carrito_compras {
    width: 70%;
    margin: auto;
    display: flex;
}

.carrito_compras p {
    color: black;
    font-size: 1.3em;
}

.carrito_compras .articulos_carrito {
    background-color: #B1B1B1;
    width: 60%;
    margin: opx auto;
    border-radius: 20px 20px 0px;
    padding: 10px 20px;
}

.carrito_compras .articulos_carrito .cards_carrito {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    border-bottom: 2px solid black;
}


.carrito_compras .articulos_carrito .cards_carrito .img_carrito img{
    width: 80px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.carrito_compras .articulos_carrito .cards_carrito .nombre_carrito p {
    margin-bottom: 20px;
}

.carrito_compras .articulos_carrito .cards_carrito .nombre_carrito .opciones_carrito ul {
    display: flex;
    justify-content: space-between;

}

.carrito_compras .articulos_carrito .cards_carrito .nombre_carrito .opciones_carrito ul li a {
    margin: auto 10px;
    color: blue;
}

.carrito_compras .articulos_carrito .cards_carrito .cantidad_carrito,
.carrito_compras .articulos_carrito .cards_carrito .precio_carrito {
    padding-top: 30px;
}

.carrito_compras .cards_descripcion_carrito {
    background-color: #B1B1B1;
    width: 25%;
    padding: 10px 20px;
    margin-left: 50px;
    border-radius: 20px;
    height: 270px;
}

.carrito_compras .cards_descripcion_carrito h2 {
    text-align: center;
    color: black;
    font-weight: normal;
    letter-spacing: 2px;
    border-bottom: 1px solid black;;
}

.carrito_compras .cards_descripcion_carrito .descuento_carrito a {
    color: blue;
    font-size: 0.9em;
}

.carrito_compras .cards_descripcion_carrito .productos_totales,
.carrito_compras .cards_descripcion_carrito .envio_carrito,
.carrito_compras .cards_descripcion_carrito .total_carrito {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    font-size: 0.8em;
}

.carrito_compras .cards_descripcion_carrito .btn_carrito {
    background-color: #1FB41F;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.carrito_compras .cards_descripcion_carrito .btn_carrito a {
    font-size: 1em;

}

.carrito_compras .cards_descripcion_carrito .btn_carrito:hover {
    background-color:  rgb(77, 115, 219);
}